@import "./bootstrap";
// $color-mode-type: data;

@media screen and (max-width: 600px) {
    .header picture+p {
        display: none;
    }
    .header picture {
        margin-right: 5px;
    }
}

.center_self {
    align-self: center;
}

.center_items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background: var(--bs-body-bg);
    z-index: 1045;
    padding: 0px 5px;
    top: 0px;
    justify-content: space-between;
    position: sticky;

    div {
        h1 {
            font-size: 15px;
            display: inline-block;
            line-height: 1;
            margin-top: 10px;
        }

        p {
            font-size: 12px;
        }

        a {
            margin-right: 5px;
        }
    }

    img {
        display: inline-block;
        vertical-align: top;
        height: 50px;
        width: 50px;
    }

    p {
        font-size: 14px;
    }

}

.noddi.dropdown-toggle {

    &::after,&::before {
        content: none
    }

}

.dropdown-item {
    width: 50%;
}

.dropdown-item pre {
    margin: 0;
}

.offcanvas,.offcanvas-body {
    display: block;
}

.row {
    flex-direction: row;
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;

}

.info {
    color: var(--bs-info);
}

.form-switch, .form-check {
    padding-left: 0;
}

p {
    font-size: 12px;
    margin: 8px;
}

footer sub {
    bottom: 0;
}

#content {
    margin: 15px;
    margin-bottom: 25px;
}
