.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
# !.yarn/unplugged
# !.yarn/unplugged/**
# ./.yarn/cache
# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#/.pnp.*
build/
debug
.dev.json
data.json
*.log
tester
static_src/js/pages/page_data.json
