@import "./imports";

// $color-mode-type: data;

* {
    font-family: fanasty, 'Ubuntu', 'Times New Roman', Times, Arial, sans-serif;
}
p {
    font-size: 12px;
    margin: 8px;
}

div,main {
    display: flex;
    flex-direction: column;
    .center_items {
        align-items: center;
    }
}

.center_self {
    align-self: center;
}

.header {
    font-family: fanasty, 'Ubuntu', 'Times New Roman', Times, Arial, sans-serif;
    border-bottom: 3px rgba(40, 223, 255, 0.5);
    padding: 0px 5px;
    padding-top: 0;
    display: flex;
    top: 0px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: sticky;

    div {
        .no-flex {
            display: initial;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        // * {
        //     max-height: 15px;
        // }
        h1 {
            font-size: 15px;
            display: inline-block;
            line-height: 1;
            margin-top: 10px;
        }

        p {
            font-size: 12px;
            display: inline-block;
        }

        a {
            margin-right: 5px;
        }

    }

    img {
        display: inline-block;
        vertical-align: top;
            height: 50px;
            width: 50px;
    }
}

.noddi.dropdown-toggle::after {
    content: none
} 

.dropdown-item pre {
    margin: 0;
}
