.header {
    font-family: fanasty, 'Ubuntu', 'Times New Roman', Times, Arial, sans-serif;
    border-bottom: 3px rgba(40, 223, 255, 0.5);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        h1 {
            font-size: 15px;
            display: inline-block;
            line-height: 1;
            margin-top: 10px;
        }
        p {
            font-size: 12px;
            display: inline-block;
        }
        button + button {
            margin-left: 15px;
        }
    }
    
    img {
        display: inline-block;
        vertical-align: top;
    }
}

